.App {
  height: 100vh;
}

header {
  background: plum;
  height: 60px;
  margin:0;
}

.Content {
  height: calc(100% - 60px);
  margin: 0;
  padding-top: 20px;
}


header mgt-login {
  --color: white;
  --background-color--hover: white;
  --color-hover: plum;
}

.MessagesHeader {
  margin-left: 50px;
  color:gray;
}

.MessagesMain {
  display: flex;
}

.MessagesList {
  flex-direction: row;
  width: 600px;
}

.MessagesBody {
  background: lightgrey;
  flex-grow: 1;
}
